.landing-page{

}
.logo{
 margin-left:400px;
 width:400px;
 height: 400px;
 background-image   : url("../../assets/imgs/logoG.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}