.trips-page{
 background: rgb(2,0,36);
 background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(21, 14, 131) 0%, rgb(24, 35, 37) 88%);
 padding-top:1px;
 display:flex;
 justify-content: center;
}
form{
 margin-bottom:50px;
}
.types{
 padding:20px;
 color:lightgrey;
 
}
.type-head{
 text-align:center;
 padding:5px;
 font-size:1.1rem;
}